<include file="Public:header"/>
    <!-- 引用商品页面js -->
    <script src="__PUBLIC__/wap/js/goods.js"></script>
    <!-- 商品详情 -->

    <!-- 商品banner图 -->
    <section class="ui-placehold-img">
        <span style="background-image:url(__PUBLIC__/web/images/goods_banner/{$goods['img']})"></span>
    </section>
    <!-- 商品banner图结束 -->

    <ul class="ui-list ui-list-pure ui-border-tb">
        <!-- 价格+购买 -->
        <li class="ui-border-t"> 
            <ul class="ui-row ui-whitespace">
                <li class="ui-col ui-col-50" style="text-align:center;">
                    现在购买只需<span style="font-size:25px;color:orange;">{$goods['univalent']}</span> 元
                </li>
                <li class="ui-col ui-col-50 buy-li" style="text-align:right;" goods-id="{$goods['id']}">
                    <i class="ui-icon-cart" style="display:inline;"></i> 购买
                </li>
            </ul>
        </li>
        <!-- 价格+购买结束 -->

        <!-- 店铺 -->
        <li class="ui-border-t">
            <ul class="ui-row ui-whitespace">
                <a href="__CONTROLLER__/shop/id/{$shop['id']}">
                    <div class="ui-list-info">
                        <h4 class="ui-nowrap">{$shop['name']}</h4>
                        <p class="ui-nowrap">{$shop['introduction']}</p>
                    </div>
                </a>
            </ul>
        </li>
        <!-- 店铺结束 -->

        <!-- 菜品详情 -->
        <li class="ui-border-t"> 
            <ul class="ui-row ui-whitespace">
                <h1>菜品详情</h1>
                <p>{$goods['introduction']}</p>
            </ul>
        </li>
        <!-- 菜品详情结束 -->

        <!-- 菜品评价 -->
        <li class="ui-border-t"> 
            <ul class="ui-row ui-whitespace">
                <a href="__CONTROLLER__/goods/shopId/{$shop['id']}">
                    <h2 class="ui-arrowlink">菜品评价</h2>
                </a>
            </ul>
        </li>
        <volist name="comment" id="vo" offset="0" length="5">
            <li class="ui-border-t">
                <ul class="ui-row ui-whitespace">
                    <div class="ui-list-info">
                        <p><span>{$vo['username']} </span><span class="date"> <?php echo date("Y-m-d H:i:s", $vo['time']); ?></span></p>
                        <p class="ui-nowrap">{$vo['content']}</p>
                    </div>
                </ul>
            </li>
        </volist>
        <!-- 菜品评价结束 -->
    </ul>
<include file="Public:footer"/>