<include file="Public:header"/>
    <!-- 商家详情 -->
    <section class="ui-placehold-img">
        <span style="background-image:url(__PUBLIC__/web/images/shop/{$shop['img']})"></span>
    </section>
    <ul class="ui-list ui-list-pure ui-border-tb">
        <li class="ui-border-t"> 
            <ul class="ui-row ui-whitespace">
                <i class="ui-icon-pin" style="display:inline;"></i>{$shop['address']}
            </ul>
        </li>
        <li class="ui-border-t"> 
            <ul class="ui-row ui-whitespace">
                <i class="ui-icon-tag-pop" style="display:inline;"></i> {$shop['tel']}
            </ul>
        </li>
        <li class="ui-border-t"> 
            <ul class="ui-row ui-whitespace">
                <h1>商家简介</h1>
                {$shop['introduction']}
            </ul>
        </li>

        <!-- 推荐菜品 -->
        <li class="ui-border-t"> 
            <ul class="ui-row ui-whitespace">
                <a href="__CONTROLLER__/goods/shopId/{$shop['id']}">
                    <h2 class="ui-arrowlink">推荐菜品</h2>
                </a>
            </ul>
        </li>
        <li class="ui-border-t"> 
            <ul class="ui-list ui-list-link ui-border-tb ui-whitespace">
                <volist name="goods" id="vo">
                    <li class="ui-border-t goods " goods-id="{$vo['id']}">
                        <div class="ui-list-img">
                            <span style="background-image:url(__PUBLIC__/web/images/goods/{$vo['img']})"></span>
                        </div>
                        <div class="ui-list-info">
                            <h4 class="ui-nowrap">{$vo['name']}</h4>
                            <p class="ui-nowrap">{$vo['introduction']}</p>
                        </div>
                    </li>
                </volist>
            </ul>
        </li>
        <!-- 推荐菜品结束 -->
    </ul>
<include file="Public:footer"/>