<include file="Public:header"/>

<header class="ui-header ui-header-stable ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i><h1>layout</h1><button class="ui-btn">回首页</button>
</header>
<footer class="ui-footer ui-footer-stable ui-border-t">
    <ul class="ui-tiled">
        <li><div>菜单</div><i>1</i></li>
        <li><div>菜单</div><i>2</i></li>
        <li><div>菜单</div><i>3</i></li>
    </ul>
</footer>
<section class="ui-container ui-center">
    内容
</section>
         
        





<include file="Public:footer"/>