<include file="Public:seller_header"/>
    <style type="text/css">
    .page {
        float: right;
        padding-right: 10px;
    }
    .page a {
        padding: 0px 5px;
    }
    .order-tr {
        line-height: 39px;
    }
    </style>
    <script type="text/javascript">
        function changeGoodsState(goodsId, state) {
            var controller = $('#controller').val();
            $.ajax({
                url:controller+'/ajaxChangeGoodsState',
                type:'POST',
                dataType:'text',
                data:'id='+goodsId+'&state='+state,
                success:function(ret) {
                    if (ret == 0) {
                        alert('更改状态成功');
                        location.reload();
                        return true;
                    } else {
                        alert('更改状态失败');
                        return false;
                    }
                },
            });
        }
    </script>
    <table class="ui-table ui-border-tb">
        <thead>
            <tr class="order-tr"><th>菜品名称</th><th>菜品状态</th><th>操作</th></tr>
        </thead>
        <tbody>
            <volist name="goods" id="vo">
                <tr class="order-tr">
                    <td>{$vo['name']}</td>
                    <td>
                    <if condition="$vo['state'] eq 1">
                        出售中
                    <else/>
                        已下架
                    </if>
                    </td>
                    <td>
                    <if condition="$vo['state'] eq 1">
                        <a href="#" onclick="javascript:if (confirm('确定要下架菜品？')){ changeGoodsState({$vo['id']}, 0); } else { return false;}">下架菜品</a>
                    <else/>
                        <a href="#" onclick="javascript:if (confirm('确定要上架菜品？')){ changeGoodsState({$vo['id']}, 1); } else { return false;}"">上架菜品</a>
                    </if>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
<include file="Public:seller_footer"/>