<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>商家辅助系统</title>
        <link rel="stylesheet" href="__PUBLIC__/wap/frozenui-1.3.0/css/frozen.css">
        <script src="__PUBLIC__/wap/frozenui-1.3.0/lib/zepto.min.js"></script>
        <script src="__PUBLIC__/wap/frozenui-1.3.0/js/frozen.js"></script> 
        <script src="__PUBLIC__/wap/js/public.js"></script>

    </head>
    <body ontouchstart>
        <if condition="$header['headerFlag']">
            <header class="ui-header ui-header-positive ui-border-b">
                <i class="ui-icon-return" onclick="history.back()"></i>
                <h1>{$header['headerName']}</h1>
            </header>
        </if>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="goods.html" class="ui-border-r"><a href="__CONTROLLER__/goods"><i class="ui-icon-cart"></i></a></li>
                <li data-href="order.html" class="ui-border-r"><a href="__CONTROLLER__/order"><i class="ui-icon-order"></i></a></li>
            </ul>
        </footer>
        <section class="ui-container">
    <input type="hidden" id="controller" value="__CONTROLLER__">
