<include file="Public:admin_header"/>
		<div class="admin">
			<div class="line-big">
				<div class="xm3">
					<!-- 管理员信息 -->
					<div class="panel border-back">
						<div class="panel-body text-center">
							<img src="__PUBLIC__/web/admin/images/admin.png" width="120" class="radius-circle" />
							<br /> {$admin['username']}
						</div>
						<div class="panel-foot bg-back border-back">您好，{$admin['username']}，欢迎您来到【{$system['name']}】后台管理。</div>
					</div>
					<!-- 管理员信息结束 -->
					<br />
					<!-- 网站信息统计 -->
					<div class="panel">
						<div class="panel-head"><strong>站点统计</strong></div>
						<ul class="list-group">
							<li><span class="float-right badge bg-main">{$statisticsData['userNumber']}</span><span class="icon-user"></span> 用户数量</li>
							<li><span class="float-right badge bg-main">{$statisticsData['shopNumber']}</span><span class="icon-bank"></span> 店铺数量</li>
							<li><span class="float-right badge bg-main">{$statisticsData['goodsNumber']}</span><span class="icon-shopping-cart"></span> 菜品数量</li>
							<li><span class="float-right badge bg-main">{$statisticsData['orderNumber']}</span><span class="icon-bars"></span> 订单数量</li>
							<li><span class="float-right badge bg-main">{$statisticsData['toHandleOrderNumber']}</span><span class="icon-bars"></span> 待处理订单</li>
							<li><span class="float-right badge bg-main">{$statisticsData['toFinishOrderNumber']}</span><span class="icon-bars"></span> 未完成订单</li>
						</ul>
					</div>
					<!-- 网站统计信息结束 -->
					<br />
				</div>
				<div class="xm9">
					<!-- 网站介绍 -->
					<div class="alert">
						<h4>{$system['name']}介绍</h4>
						<p class="text-gray padding-top">
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
							{$system['name']}的简介简介{$system['name']}的简介简介{$system['name']}的简介简介
						</p>
					</div>
					<!-- 网站介绍结束 -->

					<!-- 系统基本信息 -->
					<div class="panel">
						<div class="panel-head"><strong>系统信息</strong></div>
						<table class="table">
							<tr>
								<td width="110" align="right">操作系统：</td>
								<td>CentOS</td>
							</tr>
							<tr>
								<td align="right">Web服务器：</td>
								<td>Nginx</td>
							</tr>
							<tr>
								<td align="right">程序语言：</td>
								<td>PHP</td>
							</tr>
							<tr>
								<td align="right">数据库：</td>
								<td>MySQL</td>
							</tr>
						</table>
					</div>
					<!-- 系统信息结束 -->
				</div>
			</div>
			<br />
		</div>
<include file="Public:admin_footer"/>
