<include file="Public:admin_header"/>
    <div class="admin">
        <div class="panel admin-panel">
            <div class="panel-head"><strong>商家列表</strong></div>
            <div class="padding border-bottom">
            <form action="" method="get">
                <div class="line">
                    <div class="x3">
                        <input type="text" class="input find" id="id" name="id" value="{$findData['id']}" placeholder="请输入商家编号">
                    </div>
                    <div class="x3">
                        <input type="text" class="input find" id="name" name="name" value="{$findData['name']}" placeholder="请输入商家名称">
                    </div>
                    <div class="x3">
                        <input type="text" class="input find" id="tel" name="tel" value="{$findData['tel']}" placeholder="请输入商家电话">
                    </div>
                    <div class="x3">
                        <select class="input" name="recommend">
                            <option 
                            <if condition="!$findData['recommend']">
                                selected="selected"
                            </if>
                            value="">是否推荐</option>
                            <option 
                            <if condition="$findData['recommend'] eq 1">
                                selected="selected"
                            </if>
                            value="1">推荐</option>
                            <option 
                            <if condition="$findData['recommend'] eq 0">
                                selected="selected"
                            </if>
                            value="0">不推荐</option>
                        </select>
                    </div>
                </div>
                <div class="line" align="right" style="margin-top:10px;">
                    <input type="button" class="button button-small border-yellow" value="清空" onclick="resetFind()">
                    <input type="submit" class="button button-small border-blue" value="提交查询">
                </div>
            </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="5%" style="text-align:center;">ID</th>
                    <th width="15%" style="text-align:center;">名称</th>
                    <th width="15%" style="text-align:center;">商家用户</th>
                    <th width="25%" style="text-align:center;">地址</th>
                    <th width="15%" style="text-align:center;">电话</th>
                    <th width="5%" style="text-align:center;">推荐</th>
                    <th width="5%" style="text-align:center;">顺序</th>
                    <th width="15%" style="text-align:center;">操作</th>
                </tr>
                <volist name="shop['list']" id="vo">
                    <tr align="center">
                        <td >{$vo['id']}</td>
                        <td>{$vo['name']}</td>
                        <td>{$vo['user']['username']}</td>
                        <td>{$vo['address']}</td>
                        <td>{$vo['tel']}</td>
                        <td>
                            <if condition="$vo['recommend'] eq 1">
                                是
                            <else/>
                                否
                            </if>
                        </td>
                        <td>{$vo['serial']}</td>
                        <td>
                        <a class="button border-blue button-little" href="__CONTROLLER__/shopUpdate/id/{$vo['id']}">编辑</a> 
                        <a class="button border-green button-little" href="__CONTROLLER__/goods/shop_id/{$vo['id']}">菜品</a> 
                        <a class="button border-yellow button-little" href="#" onclick="{if(confirm('确认删除?')){deleteShop({$vo['id']});}return false;}">删除</a></td>
                    </tr>
                </volist>
            </table>
            {$shop['page']}                     
        </div>
        <br />
    </div>
<include file="Public:admin_footer"/>