<include file="Public:admin_header"/>
        <div class="admin">
            <form method="post" class="form-x" action=""  enctype="multipart/form-data">
                <div class="form-group">
                    <div class="label">
                        <label>店铺审核</label>
                    </div>
                    <div class="field" style="padding:7px 0px;">
                        <label>
                            <input type="radio" name="state" id="state" value="1" <if condition="$shop['state'] eq 1"> checked="checked" </if> > 通过 
                        </label>
                        <label>
                            <input type="radio" name="state" id="state" value="0" <if condition="$shop['state'] eq 0"> checked="checked" </if> > 不通过
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="recommend">是否推荐</label>
                    </div>
                    <div class="field" style="padding:7px 0px;">
                        <label>
                            <input type="radio" name="recommend" id="recommend" value="1" <if condition="$shop['recommend'] eq 1"> checked="checked" </if> > 推荐 
                        </label>
                        <label>
                            <input type="radio" name="recommend" id="recommend" value="0" <if condition="$shop['recommend'] eq 0"> checked="checked" </if> > 不推荐
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="serial">店铺顺序</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" id="serial" name="serial" size="50" placeholder="店铺顺序" data-validate="required:请填写你的店铺顺序"  value="{$shop['serial']}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="name">店铺名称</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" id="name" name="name" size="50" placeholder="店铺名称" data-validate="required:请填写你的店铺名称"  value="{$shop['name']}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="address">店铺地址</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" id="address" name="address" size="50" placeholder="店铺地址" data-validate="required:请填写你的店铺地址" value="{$shop['address']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="address">店铺电话</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" id="tel" name="tel" size="50" placeholder="店铺电话" data-validate="required:请填写你的店铺电话" value="{$shop['tel']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="introduction">店铺简介</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" id="introduction" name="introduction" size="50" placeholder="店铺简介" data-validate="required:请填写你的店铺简介" value="{$shop['introduction']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="details">详细介绍</label>
                    </div>
                    <div class="field">
                        <textarea rows="5" id="details" name="details" cols="50" placeholder="请填写店铺简介" data-validate="required:请填写店铺简介">{$shop['details']}</textarea>
                        <script type="text/javascript">var editor = UE.getEditor('details');</script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="img">首页图片</label>
                    </div>
                    <div class="field">
                        <img src="__PUBLIC__/web/images/shop/{$shop['img']}" style="width:160px;height:160px;margin-right:10px;" />
                        <a class="button input-file bg-green" href="javascript:void(0);">+ 浏览文件<input size="100" type="file" name="img"/></a>
                        <div class="input-note">
                            首页预览图片，分辨率160*160
                        </div>
                    </div>
                </div>                
                <div class="form-group">
                    <div class="label">
                        <label for="banner">横幅图片</label>
                    </div>
                    <div class="field">
                        <img src="__PUBLIC__/web/images/shop_banner/{$shop['banner']}" style="width:260px;height:100px;margin-right:10px;" />
                        <a class="button input-file bg-green" href="javascript:void(0);">+ 浏览文件<input size="100" type="file" name="banner"/></a>
                        <div class="input-note">
                            详情页横幅图片，分辨率260*100
                        </div>
                    </div>
                </div>
                <div class="form-button">
                    <input type="hidden" class="input" id="id" name="id" value="{$shop['id']}" />
                    <button class="button bg-main" type="submit">提交</button>
                    <button class="button" onclick="javascript:history.back(-1);" type="button">返回</button>
                </div>
            </form>
        </div>
<include file="Public:seller_footer"/>