<include file="Public:seller_header"/>
		<div class="admin">
			<div class="line-big">
				<div class="xm3">
					<div class="panel border-back">
						<div class="panel-body text-center">
							<img src="__PUBLIC__/web/admin/images/admin.png" width="120" class="radius-circle" />
							<br /> {$seller['username']}
						</div>
						<div class="panel-foot bg-back border-back">您好，{$seller['username']}，欢迎您来到商家管理系统。</div>
					</div>
					<br />
					<div class="panel">
						<div class="panel-head"><strong>店铺统计</strong></div>
						<ul class="list-group">
							<li>
							<span class="float-right badge bg-grey ">{$statisticsData['goodsNumber']}</span><span class="icon-shopping-cart"></span> 菜品
							</li>
							<li><span class="float-right badge bg-green">{$statisticsData['orderNumber']}</span><span class="icon-bars"></span> 订单数量</li>
							<li><span class="float-right badge bg-red">{$statisticsData['toHandleOrderNumber']}</span><span class="icon-bars"></span> 待处理订单</li>	
							<li><span class="float-right badge bg-main">{$statisticsData['toFinishOrderNumber']}</span><span class="icon-bars"></span> 未完成订单</li>
						</ul>
					</div>
					<br />
				</div>
				<div class="xm9">
					<div class="alert">
						<h1>{$shop['name']}</h1>
						<p class="text-gray padding-top">
							{$shop['details']}
						</p>
					</div>
				</div>
			</div>
			<br />
		</div>
<include file="Public:sller_footer"/>
